.goods-head {
    overflow: auto;
    padding: 0 10px;
    border-bottom: 2px solid #eee;
}

.goods-slide-tab {
    float: left;
    width: 33.33%;
    text-align: center;
    height: 44px;
    font-weight: 700;
    color: #999;
    line-height: 40px;
    overflow: auto;
}

.goods-slide-tab > p{
    margin: 0;
}

.goods-tab-select > p {
    color: #00a0ff;
    border-bottom: 3px solid #00a0ff;
}

.goods_content {
    top: 47px;
}
