<ion-view view-title="搜索页" hide-tabs="true">
  <div class="find-search item-input-inset">
    <div class="find-search-input item-input-wrapper">
      <p class="find-search-input-p" ng-click="classSelect()">{{selectItem}}<i></i></p>
      <form class="find-search-form">
        <input  type="search" 
                placeholder="请输入关键字" 
                maxlength="20" 
                ng-model="keyword" 
                ng-change="searchChange()">
      </form>
      <a ng-if="keyword.length"
           on-touch="clearSearch()"
           class="clear-search">
          <img src="img/button/clear.png" class="icon-clear">
        </a>
    </div>
    <button class="find-search-button" ng-click="toSearch(keyword)">
      确定
    </button>
  </div>
  
  <!-- 搜索的类型选择 -->
  <div class="find-search-class" ng-show="isClassShow">
    <p ng-click="classSelectItem({{data.id}})" ng-repeat="data in classItem">{{data.class}}</p>
  </div>
  <ion-content class="find-content">

    <div class="find-list">

      <div class="find-hot" ng-if="!keyword.length">
        <div class="find-hot-title">
          <p>热门搜索</p>
        </div>
        <div class="find-hot-item">
          <a class="item" ng-click="toFind(0)">政策</a>
          <a class="item" ng-click="toFind(1)">政策</a>
          <a class="item" ng-click="toFind(2)">政策</a>
          <a class="item" ng-click="toFind(3)">政策</a>
          <a class="item" ng-click="toFind(4)">政策</a>
        </div>
      </div>

      <div class="find-history" ng-if="!keyword.length">
        <div class="find-history-title">
          <p>历史搜索</p>
        </div>
        <div class="find-history-item">
          <a class="item" ng-click="toFind(5)"><p>历史纪录</p></a>
          <a class="item" ng-click="toFind(6)"><p>历史纪录</p></a>
          <a class="item" ng-click="toFind(7)"><p>历史纪录</p></a>
          <a class="item" ng-click="toFind(8)"><p>历史纪录</p></a>
          <a class="item" ng-click="toFind(9)"><p>历史纪录</p></a>
        </div>
      </div>

      <div class="find-result" ng-if="keyword.length && searchData">
        <div class="find-result-item">

          <!-- 资讯 -->
          <a class="item findResultClass item-thumbnail-right" ng-repeat="data in findData" ng-if=" classIndex == 0 ? true : false " href="#/tab/information/page/{{data.id}}">
            <img src="{{data.thumb[0]}}" alt="">
            <h2 class="intwoline">{{data.title}}</h2>
            <div class="information-list-item">
              <label>{{data.copyfrom}}</label>
              <label>{{data.updatetime}}</label>
            </div>
          </a>

          <!-- 方案 -->
          <a class="item findResultClass item-thumbnail-right" ng-repeat="data in findData" ng-if=" classIndex == 1 ? true : false " href="#/tab/programme/{{data.id}}">
            <img src="{{data.thumb[0]}}">
            <h2 class="intwoline">{{data.title}}</h2>
            <div class="programme-list-item">
              <label>{{data.copyfrom}}</label>
              <label>{{data.updatetime}}</label>
            </div>
            <p class="programme-list-money">预计产生效益：{{data.benefit}} 万</p>
          </a>

          <!-- 商机 -->
          <a class="item goods-list-item" ng-repeat="data in findData" ng-if=" classIndex == 2 ? true : false ">
            <h2>{{data.title}}</h2>
            <div class="goods-list-items">
              <label>{{data.copyfrom}}</label>
              <label>{{data.updatetime}}</label>
            </div>
          </a>

          <!-- 活动 -->
          <a class="item findResultClass" ng-repeat="data in findData" ng-if=" classIndex == 3 ? true : false ">
            <h2 class="intwoline">{{data.title}}</h2>
            <p>{{data.site}}</p>
            <p>{{data.start_time}}</p>
            <div class="meets-list-items">
              <label ng-repeat="tab in data.subClass">{{tab.title}}</label>
            </div>
          </a>
        </div>
      </div>

    </div>

    <ion-infinite-scroll on-infinite="loadMore()" distance="10%" ng-if="More"></ion-infinite-scroll>

  </ion-content>
</ion-view>
