<ion-view view-title="搜索页" hide-tabs="true">
  <div class="find-search item-input-inset">
    <div class="find-search-input item-input-wrapper">
      <p class="find-search-input-p" ng-click="classSelect()">{{selectItem}}<i></i></p>
      <form class="find-search-form">
        <input  type="search" 
                placeholder="请输入关键字" 
                maxlength="20" 
                ng-model="keyword" 
                ng-change="searchChange()">
      </form>
      <a ng-if="keyword.length"
           on-touch="clearSearch()"
           class="clear-search">
          <i class="icon icon-clear placeholder-icon"></i>
        </a>
    </div>
    <button class="find-search-button" ng-click="toSearch()">
      确定
    </button>
  </div>
  
  <div class="find-search-class" ng-show="isClassShow">
    <p ng-click="classSelectItem({{data.id}})" ng-repeat="data in classItem">{{data.class}}</p>
  </div>
  <ion-content class="find-content">

    <div class="find-list">
      <div class="find-hot" ng-if="!keyword.length">
        <div class="find-hot-title">
          <p>热门搜索</p>
        </div>
        <div class="find-hot-item">
          <a class="item" ng-click="toFind(0)">政策</a>
          <a class="item" ng-click="toFind(1)">政策</a>
          <a class="item" ng-click="toFind(2)">政策</a>
          <a class="item" ng-click="toFind(3)">政策</a>
          <a class="item" ng-click="toFind(4)">政策</a>
        </div>
      </div>
      <div class="find-history" ng-if="!keyword.length">
        <div class="find-history-title">
          <p>历史搜索</p>
        </div>
        <div class="find-history-item">
          <a class="item" ng-click="toFind(5)"><p>历史纪录</p></a>
          <a class="item" ng-click="toFind(6)"><p>历史纪录</p></a>
          <a class="item" ng-click="toFind(7)"><p>历史纪录</p></a>
          <a class="item" ng-click="toFind(8)"><p>历史纪录</p></a>
          <a class="item" ng-click="toFind(9)"><p>历史纪录</p></a>
        </div>
      </div>
      <div class="find-result" ng-if="keyword.length && searchData">
        <div class="find-result-item">
          <a class="item"><p>搜索结果</p></a>
          <a class="item"><p>搜索结果</p></a>
          <a class="item"><p>搜索结果</p></a>
          <a class="item"><p>搜索结果</p></a>
          <a class="item"><p>搜索结果</p></a>
        </div>
      </div>
    </div>

  </ion-content>
</ion-view>
