<div class="programme-tab">
	<div class="programme-tab-input">
		<input type="radio" ng-checked="slideProgrammeNumber == 5 ? 'checked' : ''" id="programme-input-5" ng-click="selectProgrammeView(5)">
		<p>所有方案</p>
		<input type="radio" ng-checked="slideProgrammeNumber == 6 ? 'checked' : ''" id="programme-input-6" ng-click="selectProgrammeView(6)">
		<p>最新方案</p>
		<input type="radio" ng-checked="slideProgrammeNumber == 7 ? 'checked' : ''" id="programme-input-7" ng-click="selectProgrammeView(7)">
		<p>热门方案</p>
		<input type="radio" ng-checked="slideProgrammeNumber == 8 ? 'checked' : ''" id="programme-input-8" ng-click="selectProgrammeView(8)">
		<p>推荐方案</p>
	</div>
</div>
