<ion-view view-title="方案详情页" hide-tabs="true">
  <ion-content class="page-content">
  	<div class="page-head">
  		<h2 class="page-head-title">{{pageData.title}}</h2>
  		<div class="page-head-list">
        <p>{{pageData.times}}</p>
        <p>{{pageData.adress}}</p>
  			<p>阅读：{{pageData.clicks}}</p>
  		</div>
      <img src="{{pageData.pic}}" class="page-head-pic">
  	</div>
  	<main class="page-page" ng-bind-html="pageData.inform"></main>
  	<div class="page-bottom">
      <div class="page-tag">
        <p ng-repeat="data in tags">{{data.name}}</p>
      </div>
  		<p class="page-author">编辑：{{pageData.author}}</p>
  	</div>
    <div class="page-hot">
      <div class="page-hot-title">
        <p>热门推荐</p>
      </div>
      <div class="page-hot-list">
        <a class="page-hot-item item item-thumbnail-right" ng-repeat="data in pageHotData" href="#/tab/information/page/{{data.id}}">
          <img src="{{data.img}}" alt="">
          <h2 class="intwoline">{{data.title}}</h2>
          <div class="page-hot-item-subtitle">
            <p>{{data.address}}</p>
            <p>{{data.time}}</p>
          </div>
        </a>
      </div>
    </div>
  </ion-content>
</ion-view>
