<ion-view view-title="我的订阅" hide-tabs="true">
  <div class="myRead-head" id="my-read-head">
    <ion-scroll direction="x" id="read-tab">
      <div class="myRead-slide-tab" ng-repeat="data in myTab" ng-click="activeSlide($index)" id="tab-default-{{$index}}" ng-class="slectIndex==$index ? 'tab-select' : '' ">
        {{data.title}}
      </div>
    </ion-scroll>
  </div>

  <ion-content class="myRead-content" scroll="false" overflow-scroll="ture">
    <ion-slide-box on-slide-changed="slideChanged(index)" active-slide="slideIndex" does-continue="false" show-pager="false" class="myRead-slide-box">
      <ion-slide ng-repeat="data in myTab">
        <ion-content class="myRead-slide-view">
          <p>应该是根据订阅的标签进行搜索</p>
        </ion-content>
      </ion-slide>
    </ion-slide-box>
  </ion-content>
</ion-view>