.myRead-head {
	overflow: hidden;  
    white-space: nowrap;
    border-bottom: 3px solid #eee;
}

.myRead-slide-tab {
	display: inline-block;
	padding: 10px;
	margin-bottom: 20px;
}

.tab-select {
	background-color: #00a0ff;
}

#my-read-head .scroll-bar-h {
	display: none;
}

.myRead-content {
	background-color: #eee;
	top: 40px;
	border-top: 3px solid #eee;
}

.myRead-slide-box {
	position: absolute;
	top: 0;
	bottom: 0;
	width: 100%;
}

.myRead-slide-view {
	min-height: 300px;
	width: 100%;
}