.programme-head {
    overflow: auto;
    padding: 0 10px;
}

.programme-slide-tab {
    float: left;
    width: 33.33%;
    text-align: center;
    height: 44px;
    font-weight: 700;
    color: #999;
    line-height: 44px;
}

.programme-tab-select {
    color: #00a0ff;
    border-bottom: 4px solid #00a0ff;
}

.programme_content {
    top: 44px;
    background-color: #eee;
}
