<ion-view view-title="方案" hide-tabs="true">

  <div class="programme-head">
    <p class="programme-slide-tab" ng-click="programmeSlide(0)" id="programme-slide-0" ng-class="slectIndex==0 ? 'programme-tab-select' : '' ">
      最新方案
    </p>
    <p class="programme-slide-tab" ng-click="programmeSlide(1)" id="programme-slide-1" ng-class="slectIndex==1 ? 'programme-tab-select' : '' ">
      热门方案
    </p>
    <p class="programme-slide-tab" ng-click="programmeSlide(2)" id="programme-slide-2" ng-class="slectIndex==2 ? 'programme-tab-select' : '' ">
      推荐方案
    </p>
  </div>


  <ion-content class="programme_content" delegate-handle＝"news_hot_content" scroll="false" overflow-scroll="ture">

    <ion-slide-box delegate-handle="newsSlider" on-slide-changed="slideChanged(index)" active-slide="slideIndex"  show-pager="false" style="top: 0;bottom: 0;position: absolute !important; width:100%">

      <ion-slide>
        <div ng-include="new">
            
        </div>
      </ion-slide>
      
      <ion-slide>
        <div ng-include="hot">
            
        </div>
      </ion-slide>

      <ion-slide>
        <div ng-include="ele">
            
        </div>
      </ion-slide>

    </ion-slide-box>

  </ion-content>
</ion-view>