<ion-view view-title="首页">
  <div class="homeTop">
    <p class="homeTop-title">国脉物联网</p>
    <a type="text" class="ion-search homeTop-find" href="#/tab/find"> 搜索您感兴趣的内容</a>
  </div>

  <ion-content class="home-content">

    <ion-refresher pulling-text="下拉刷新..." on-refresh="doRefresh()">
    </ion-refresher>

    <div class="home-pic">
        <ion-slide-box   on-slide-changed="slideHasChanged($Number);" 
                auto-play="true" 
                does-continue="true" 
                slide-interval="5000" 
                active-slide="true" 
                delegate-handle="home-pic">
        <ion-slide ng-repeat="item in ads" class="home-ads-pic">
          <div class="pic-box">
            <a ng-href = "">
                <img ng-src="{{ item.pic }}">
            </a>
          </div>
        </ion-slide>
      </ion-slide-box>
    </div>

    <div class="home-url">
      <a class="home-url-item" ng-repeat="data in homeSrc" href="#/tab/{{data.href}}">{{data.title}}</a>
    </div>

    <div class="home-list">
      <a href="#/tab/information/page/{{data.id}}" class="item home-list-items item-thumbnail-right" ng-repeat="data in homeItem">
        <img src="{{data.titlepic}}" alt="">
        <h2 class="intwoline">{{data.title}}</h2>
        <div class="home-list-item">
          <p class="home-list-item-class" ng-style="{{data.classL}}">{{data.class}}</p>
          <p class="home-list-item-adress">{{data.adress}}</p>
          <p class="home-list-item-time">{{data.time}}</p>
        </div>
      </a>
    </div>
  </ion-content>
</ion-view>