<ion-view view-title="商机详情页" hide-tabs="true">
  <ion-content class="goodsDetail-content">
    
    <div class="goodsDetail-head">
      <h2 class="goodsDetail-head-title">{{goodsDetailData.title}}</h2>
      <div class="goodsDetail-head-list">
        <p>{{goodsDetailData.inputtime}}</p>
        <p>{{goodsDetailData.copyfrom}}</p>
        <p>阅读：{{goodsDetailData.clicks}}</p>
      </div>
    </div>

    <main class="goodsDetail-goodsDetail" ng-bind-html="goodsDetailData.content"></main>

    <div class="goodsDetail-bottom">
      <div class="goodsDetail-tag">
        <p ng-repeat="data in tags">{{data.name}}</p>
      </div>
      <p class="goodsDetail-author">编辑：{{goodsDetailData.author}}</p>
    </div>

    <div class="detail-footer" ng-include="'src/information/detail/footer.html'"></div>

    <div class="goodsDetail-hot">
      <div class="goodsDetail-hot-title">
        <p>相关阅读</p>
      </div>
      <div class="goodsDetail-hot-list">
        <a class="goodsDetail-hot-item item item-thumbnail-right" ng-repeat="data in goodsDetailHotData" href="#/tab/information/goodsDetail/{{data.id}}">
          <img src="{{data.thumb[0]}}" alt="">
          <h2 class="intwoline">{{data.title}}</h2>
          <div class="goodsDetail-hot-item-subtitle">
            <p>{{data.copyfrom}}</p>
            <p>{{data.inputtime}}</p>
          </div>
        </a>
      </div>
    </div>

  </ion-content>

  <div class="page-bottom">
    <a class="page-bottom-news"><p class="ion-android-person"></p>我的关注</a>
    <a class="page-bottom-home" href="#/tab/home"><p class="ion-android-home"></p>首页</a>
    <div class="page-bottom-follow" ng-if="!isFollow" ng-click="goFollow()"><p class="ion-android-favorite-outline"></p><a href="">关注</a></div>
    <div class="page-bottom-follow" ng-if="isFollow" ng-click="goFollow()"><p class="ion-android-favorite"></p><a href="">已关注</a></div>
  </div>

</ion-view>