.information-head {
    overflow: auto;
    padding: 0 10px;
}

.information-slide-tab {
    float: left;
    width: 20%;
    text-align: center;
    height: 44px;
    font-weight: 700;
    color: #999;
}

.information-tab-select {
    color: #00a0ff;
    border-bottom: 4px solid #00a0ff;
}

.information_content {
    top: 44px;
    background-color: #eee;
}

.information-slide-p {
    height: 44px;
    line-height: 44px;
    width: 50px !important;
    margin: auto;
}