<div ng-controller="ShopCtrl">

	<div class="goTop" ng-click="scrollTop()" ng-if="isGoTopShop && displayGoTopShop"><i class="ion-arrow-up-a goTopImg"></i></div>

	<ion-content class="shop-content" delegate-handle="shopSrcoll" on-scroll="shopToTopScroll()">
		<ion-refresher pulling-text="下拉刷新..." on-refresh="doRefresh()"></ion-refresher>

		<div class="shop-list">
			<a href="#/tab/information/page/{{data.id}}" class="item shop-list-items item-thumbnail-right" ng-repeat="data in shopItem">
				<img src="{{data.thumb[0]}}" alt="">
				<h2 class="intwoline">{{data.title}}</h2>
				<p>{{data.copyfrom}}</p>
				<p>{{data.inputtime}}</p>
			</a>
		</div>
		<ion-infinite-scroll on-infinite="loadMore()" distance="10%" ng-if="More"></ion-infinite-scroll>
	</ion-content>
</div>