<div ng-controller="ShopCtrl">

	<div class="goTop" ng-click="scrollTop()" ng-if="isGoTop > 1000 ? true : false "><i class="ion-arrow-up-a goTopImg"></i></div>

	<ion-content class="shop-content" on-scroll="toTopScroll()">
		<ion-refresher pulling-text="下拉刷新..." on-refresh="doRefresh()"></ion-refresher>

		<div class="shop-list">
			<a href="#/tab/information/page/{{data.id}}" class="item shop-list-items item-thumbnail-right" ng-repeat="data in shopItem">
				<img src="{{data.thumb[0]}}" alt="">
				<h2 class="intwoline">{{data.title}}</h2>
				<div class="shop-list-item">
					<label>{{data.copyfrom}}</label>
					<label>{{data.inputtime}}</label>
				</div>
			</a>
		</div>
		<ion-infinite-scroll on-infinite="loadMore()" distance="10%" ng-if="More"></ion-infinite-scroll>
	</ion-content>
</div>