<div class="information-tab">
	<div class="information-tab-input">
		<input type="radio" ng-checked="slideNumber == 0 ? 'checked' : ''" id="information-input-0" ng-click="selectView(0)">
		<p>热 门</p>
		<input type="radio" ng-checked="slideNumber == 1 ? 'checked' : ''" id="information-input-1" ng-click="selectView(1)">
		<p>政 策</p>
		<input type="radio" ng-checked="slideNumber == 2 ? 'checked' : ''" id="information-input-2" ng-click="selectView(2)">
		<p>观 点</p>
		<input type="radio" ng-checked="slideNumber == 3 ? 'checked' : ''" id="information-input-3" ng-click="selectView(3)">
		<p>专 题</p>
		<input type="radio" ng-checked="slideNumber == 4 ? 'checked' : ''" id="information-input-4" ng-click="selectView(4)">
		<p>服 务</p>
	</div>
</div>
