<div ng-controller="optionSelectCtrl" class="option-content">
  <div class="option-button">
    <p ng-click="optionTabShow()">筛选<i id="triangle" class="{{ selectOpened === true ? 'open' : 'close' }}"></i></p>
  </div>
  <div ng-class="isShow ? 'ng-hide' : '' ">
    <div id ="option-tab" ng-class="isOptionShow === true ? 'option-show' : 'option-hide' ">
      <div class="option-tab-item" ng-repeat="data in optionThings">
        <input type="radio" id="option-tab-item-{{data.id}}" ng-checked="optionThingsIndex == {{data.id}} ? 'checked' : '' " ng-click="optionThingsSelect({{data.id}})">
        <label for="option-tab-item-{{data.id}}">{{data.tab}}</label>
      </div>
    </div>    
  </div>
</div>