.option-content {
	border-top: 3px solid #eee;
	position: relative;
	z-index: 10;
}

.option-button {
	background-color: #fff;
	height: 30px;
	border-bottom: 2px solid #eee;
}

.option-button > p {
	float: right;
	padding: 5px 15px 0;
	margin: 0;
}

#option-tab {
	position: absolute;
	background-color: #fff;
	padding: 0 5px;
	z-index: 100;
	overflow: auto;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}

.option-show {
	transition: all linear 0.3s;
	height: 191px;
}

.option-hide {
	transition: all linear 0.3s;
  	height: 0px;
}

.option-tab-item {
    border: 1px solid #ddd;
	border-radius: 5px;
	display: inline-table;
	width: 85px;
	text-align: center;
	margin: 5px;
	padding: 3px 0;
}

.option-tab-select {
    background-color: #00a0ff;
    color: #fff;
}

#triangle {
	float: right;
	width: 0px;
    height: 0px;
    padding: 0px;
    margin: 5px 0 0 5px;
    border-right: 8px solid #aaa;
    border-top: 5px solid transparent;
    border-bottom: 5px solid transparent;
    transition: .6s;
}

#triangle.open {
	transform: rotate(-90deg);
}