<div ng-controller="EleProgrammeCtrl">

  <div class="goTop" ng-click="scrollTop()" ng-if="isGoTopElep"><i class="ion-arrow-up-a goTopImg"></i></div>
  <div class="goFind" ng-click="goFindElep()" ng-if="!isGoFindElep"><i class="ion-search goFindImg"></i></div>
  <div class="elep-find elep-find-checked" ng-if="isGoFindInputEle">
    <input type="text" class="elep-input" placeholder="请输入关键字进行查找" ng-model="elepKeyWord">
    <p class="elep-yes" ng-click="elepYes(elepKeyWord)">确定</p>
    <p class="elep-no" ng-click="elepNo()">取消</p>
  </div>

  <ion-content class="eleProgramme-content" delegate-handle="ElepSrcoll" on-scroll="elepToTopScroll()">
    <ion-refresher pulling-text="下拉刷新..." on-refresh="doRefresh()"></ion-refresher>
    
    <div class="ele-list">
      <a class="item ele-list-item intwoline item-thumbnail-right" ng-repeat="data in eleProgrammeItem" href="#/tab/programme/{{data.id}}">
        <img src="{{data.thumb[0]}}">
        <h2 class="intwoline">{{data.title}}</h2>
        <div>
          <label>{{data.copyfrom}}</label>
          <label>{{data.inputtime}}</label>
        </div>
        <p>预计产生效益：{{data.benefit}} 万</p>
      </a>
    </div>

    <ion-infinite-scroll on-infinite="loadMore()" distance="10%" ng-if="More"></ion-infinite-scroll>
  </ion-content>
</div>