<div ng-controller="HotProgrammeCtrl">
	<ion-content class="hotProgramme-content">
		<ion-refresher pulling-text="下拉刷新..." on-refresh="doRefresh()"></ion-refresher>

		<div class="hot-programme">
			<div class="hot-programme-item" ng-repeat="data in hotProgrammeTab">
				<input type="radio" id="hot-programme-item-{{data.id}}" ng-checked="hotProgrammeIndex == {{data.id}} ? 'checked' : ''" ng-click="hotProgrammeSelect({{data.id}})">
				<label for="hot-programme-item-{{data.id}}">{{data.tab}}</label>
			</div>
		</div>

		<div class="hot-list">
			<a class="item hot-list-item intwoline item-thumbnail-right" ng-repeat="data in hotProgrammeItem" href="#/tab/programme/{{data.id}}">
				<img src="{{data.thumb[0]}}">
				<h2 class="intwoline">{{data.title}}</h2>
				<div>
					<label>{{data.copyform}}</label>
					<label>{{data.inputtime}}</label>
				</div>
				<p>预计产生效益：{{data.benefit}} 万</p>
			</a>
		</div>

		<ion-infinite-scroll on-infinite="loadMore()" distance="10%" ng-if="More"></ion-infinite-scroll>
	</ion-content>
</div>