.waiter-content {
	top: 45px;
	background-color: #eee;
}

.waiter-ask-title, .waiter-ads-title {
	font-size: 20px;
	padding: 5px 0 0 10px;
	margin-top: 0;
}

.waiter-ask-list {
	overflow: auto;
}

.waiter-ask-list-item {
	width: 50%;
	float: left;
}

@media screen and (min-width: 320px){
	.waiter-ask-list-item {
		height: 145px;
	}
	.waiter-ask-list-item > img {
		width: 100%;
		height: 75px;
	}
}

@media screen and (min-width: 360px){
	.waiter-ask-list-item {
		height: 150px;
	}
	.waiter-ask-list-item > img {
		width: 100%;
		height: 80px;
	}
}

@media screen and (min-width: 400px){
	.waiter-ask-list-item {
		height: 170px;
	}
	.waiter-ask-list-item > img {
		width: 100%;
		height: 100px;
	}
}

.waiter-ask-list-item > h2 {
	white-space: normal;
}