<ion-view view-title="服务" hide-tabs="true">
  <ion-content class="waiter-content">
    <div class="waiter-ask">
      <div class="waiter-ask-title">
        <h2>咨询服务</h2>
      </div>
      <div class="waiter-ask-list">
        <a href="#/tab/consult"><img src="img/waiter/ads.jpg"></a>
      </div>
    </div>

    <div class="waiter-ads">
      <div class="waiter-ads-title">
        <h2>广告服务</h2>
        <p>（具体广告报价单请到pc端下载）</p>
      </div>
      <div class="waiter-ads-list">
        <ul class="waiter-ads-channel">
        <!-- 频道 -->
          <li class="waiter-ads-subtitle">频道</li>
          <li ng-repeat="data in adsItem">{{data.desc.channel}}</li>
        </ul>
        <ul class="waiter-ads-position">
        <!-- 位置 -->
          <li class="waiter-ads-subtitle">位置</li>
          <li ng-repeat="data in adsItem">{{data.desc.seat}}</li>
        </ul>
        <ul class="waiter-ads-price">
        <!-- 单价 -->
          <li class="waiter-ads-subtitle">单价</li>
          <li ng-repeat="data in adsItem">{{data.desc.price}}</li>
        </ul>
        <ul class="waiter-ads-size">
        <!-- 尺寸 -->
          <li class="waiter-ads-subtitle">尺寸</li>
          <li ng-repeat="data in adsItem">{{data.desc.size}}</li>
        </ul>
        <ul class="waiter-ads-file">
        <!-- 文件格式 -->
          <li class="waiter-ads-subtitle">文件格式</li>
          <li ng-repeat="data in adsItem">{{data.format}}</li>
        </ul>
      </div>
    </div>

    <div class="waiter-meet">
      <div class="waiter-meet-title">
        <h2>会议服务</h2>
      </div>
      <div class="waiter-meet-list">
        <a class="waiter-meet-item item" href="http://www.51banhui.com/webapp/meet">
          <img src="img/waiter/meetone.jpg">
          <h2>会议策划</h2>
          <p>以丰富的方案库与智能便捷的策划流程为您的会议策划创新亮点与特色</p>
        </a>

        <a class="waiter-meet-item item" href="http://www.51banhui.com/webapp/news">
          <img src="img/waiter/meettwo.jpg">
          <h2>会议管理</h2>
          <p>整合会议周边服务商资源，为会前、会中、会后的筹备，、执行与推广供应产链资源对接</p>
        </a>
      </div>
    </div>

    <div class="waiter-request">
      <div class="waiter-request-title">
        <h2>申报服务</h2>
        <p>（请到pc端进行申报操作）</p>
        <a href="#/tab/apply">更多</a>
      </div>
      <div class="waiter-request-list">
        <a class="item" ng-repeat="data in decItem" href="#tab/apply/{{data.id}}">
          <h2>{{data.title}}</h2>
          <p>{{data.inputtime}}</p>
        </a>
      </div>
    </div>

    <div class="waiter-customer">
      <div class="waiter-customer-title">
        <h2>客服服务</h2>
      </div>
      <div class="waiter-customer-list">
        <ul>
          <li class="waiter-customer-subtitle">电话客服</li>
          <li>
            <img src="img/waiter/telphone.jpg">
            <p>021-50899513</p>
          </li>
          <li>
            <img src="img/waiter/telphone.jpg">
            <p>021-50909337</p>
          </li>
        </ul>
        <ul>
          <li class="waiter-customer-subtitle">QQ客服</li>
          <li>
            <img src="img/waiter/QQ.jpg">
            <p>1572795827</p>
          </li>
        </ul>
      </div>
    </div>

  </ion-content>
</ion-view>