<ion-content class="allProgramme-content" ng-controller="AllProgrammeCtrl">
  <ion-refresher pulling-text="下拉刷新..." on-refresh="doRefresh()"></ion-refresher>
  <div ng-include="'src/home/slide-box/programme/tabSelect/tabSelect.html'"></div>


  <div class="all-programme">
    <div class="all-programme-item" ng-repeat="data in allProgrammeItem">
      <input type="radio" id="all-programme-item-{{data.id}}" ng-checked="allProgrammeIndex == {{data.id}} ? 'checked' : ''"
          ng-click="allProgrammeSelect({{data.id}})">
      <label for="all-programme-item-{{data.id}}">{{data.tab}}</label>
    </div>
  </div>

  <div class="all-list">
    <a class="item all-list-item intwoline item-thumbnail-right" ng-repeat="data in allProgrammeListItem">
      <img src="{{data.pic}}">
      <h2 class="intwoline">{{data.title}}</h2>
      <div>
        <label>{{data.source}}</label>
        <label>{{data.times}}</label>
      </div>
      <p>预计产生效益：1000万</p>
    </a>
  </div>

  <ion-infinite-scroll on-infinite="loadMore()" distance="10%" ng-if="More"></ion-infinite-scroll>
</ion-content>
