/* Empty. Add your own CSS if you like */
.intwoline {
	display: -webkit-box !important;
	overflow: hidden;

	text-overflow: ellipsis;
	word-break: break-all;

	-webkit-box-orient: vertical;
	-webkit-line-clamp: 2;
}

.home-detail-content {
	background-color: #eee !important;
}